<h2><%= I18n.t 'activerecord.models.product_model.other' %></h2>

<%= link_to 'Cadastrar Modelo de Produto', new_product_model_path %>
<%= link_to 'Voltar', root_path %>

<% if @product_models.any? %>
  <% @product_models.each do |product_model| %>
    <div>
      <h3><%= link_to product_model.name, product_model %></h3>

      <dl>
        <dt><%= I18n.t 'activerecord.attributes.product_model.sku' %>:</dt>
        <dd><%= product_model.sku %></dd>

        <dt><%= I18n.t 'activerecord.attributes.product_model.name' %>:</dt>
        <dd><%= product_model.supplier.brand_name %></dd>
      </dl>
    </div>
  <% end %>
<% else %>
  <p>Não existem modelos de produtos cadastrados.</p>
<% end %>

