<h2><%= @product_model.name %></h2>

<div>
  <dl>
    <dt><strong><%= I18n.t 'activerecord.attributes.product_model.sku' %>:</strong></dt>
    <dd><%= @product_model.sku %></dd>

    <dt><strong><%= I18n.t 'activerecord.attributes.product_model.weight' %>:</strong></dt>
    <dd><%= number_with_delimiter(@product_model.weight, delimiter: '.') %>g</dd>

    <dt><strong><%= I18n.t 'activerecord.attributes.product_model.width' %>:</strong></dt>
    <dd><%= number_with_delimiter(@product_model.width, delimiter: '.') %>cm</dd>

    <dt><strong><%= I18n.t 'activerecord.attributes.product_model.height' %>:</strong></dt>
    <dd><%= number_with_delimiter(@product_model.height, delimiter: '.') %>cm</dd>

    <dt><strong><%= I18n.t 'activerecord.attributes.product_model.depth' %>:</strong></dt>
    <dd><%= number_with_delimiter(@product_model.depth, delimiter: '.') %>cm</dd>

    <dt><strong><%= I18n.t 'activerecord.attributes.product_model.supplier' %>:</strong></dt>
    <dd><%= @product_model.supplier.brand_name %></dd>
  </dl>
</div>
