<section id="warehouses">
  <h2><%= I18n.t 'activerecord.models.warehouse.other' %></h2>

  <%= link_to 'Cadastrar Galpão', new_warehouse_path %>

  <% @warehouses.each do |warehouse| %>
    <div>
      <h3><%= link_to warehouse.name, warehouse_path(warehouse.id) %></h3>

      <dl>
        <dt><strong><%= I18n.t 'activerecord.attributes.warehouse.code' %>:</strong></dt>
        <dd><%= warehouse.code %></dd>

        <dt><strong><%= I18n.t 'activerecord.attributes.warehouse.city' %>:</strong></dt>
        <dd><%= warehouse.city %></dd>

        <dt><strong><%= I18n.t 'activerecord.attributes.warehouse.area' %>:</strong></dt>
        <dd><%= number_with_delimiter(warehouse.area, delimiter: '.') %> m²</dd>
      </dl>
    </div>
  <% end %>
  
  <% if @warehouses.empty? %>
    <span>Não existem galpões cadastrados</span>
  <% end %>

</section>
