<h2><%= t '.new_order' %></h2>

<% if @order.errors.any? %>
  <p>Verifique os erros abaixo:</p>
  
  <% @order.errors.full_messages.each do |message| %>
    <ul>
      <li><%= message %></li>
    </ul>
  <% end %>
<% end %>

<%= form_with model: @order do |f| %>
  <div>
    <%= f.label :warehouse_id %>
    <%= f.collection_select :warehouse_id, @warehouses, :id, :full_description, prompt: true %>
  </div>
  <div>
    <%= f.label :supplier_id %>
    <%= f.collection_select :supplier_id, @suppliers, :id, :description, prompt: true %>
  </div>
  <div>
    <%= f.label :estimated_delivery_date %>
    <%= f.date_field :estimated_delivery_date %>
  </div>

  <%= f.submit 'Registrar' %>
<% end %>
