<h2><%= I18n.t 'activerecord.models.order.one' %> <%= @order.code %></h2>

<div>
  <dl>
    <dt><strong><%= I18n.t 'activerecord.attributes.order.user' %>:</strong></dt>
    <dd><%= @order.user.description %></dd>

    <dt><strong><%= I18n.t 'activerecord.attributes.order.warehouse' %>:</strong></dt>
    <dd><%= @order.warehouse.full_description %></dd>

    <dt><strong><%= I18n.t 'activerecord.attributes.order.supplier' %>:</strong></dt>
    <dd><%= @order.supplier.corporate_name %></dd>

    <dt><strong><%= I18n.t 'activerecord.attributes.order.estimated_delivery_date' %>:</strong></dt>
    <dd><%= I18n.l(@order.estimated_delivery_date) %></dd>
  </dl>
</div>
