<h2>Galpão <%= @warehouse.code %></h2>
<h3>Descrição: <%= @warehouse.description %></h3>

<div>
  <dl>
    <dt><strong>Nome:</strong></dt>
    <dd><%= @warehouse.name %></dd>

    <dt><strong>Código:</strong></dt>
    <dd><%= @warehouse.code %></dd>

    <dt><strong>Cidade:</strong></dt>
    <dd><%= @warehouse.city %></dd>

    <dt><strong>Área:</strong></dt>
    <dd><%= number_with_delimiter(@warehouse.area, delimiter: '.') %> m²</dd>

    <dt><strong>Endereço:</strong></dt>
    <dd><%= @warehouse.address %> - CEP: <%= @warehouse.cep %></dd>
  </dl>
</div>

<%= link_to 'Editar', edit_warehouse_path(@warehouse.id) %>
<%= link_to 'Voltar', root_path %>
