<h1>Galpão <%= @warehouse.code %></h1>
<h2>Descrição: <%= @warehouse.description %></h2>

<div>
  <span><strong>Nome:</strong> <%= @warehouse.name %></span>
  <span><strong>Cidade:</strong> <%= @warehouse.city %></span>
  <span><strong>Área:</strong> <%= number_with_delimiter(@warehouse.area, delimiter: '.') %> m²</span>
  <span><strong>Endereço:</strong> <%= @warehouse.address %> - CEP: <%= @warehouse.cep %></span>
</div>

<%= link_to 'Voltar', root_path %>
