<h1>Galpão <%= @warehouse.code %></h1>
<h2>Descrição: <%= @warehouse.description %></h2>

<div>
  <strong>Nome: <%= @warehouse.name %></strong>
  <span>Cidade: <%= @warehouse.city %></span>
  <span>Área: <%= number_with_delimiter(@warehouse.area, delimiter: '.') %> m²</span>
  <span>Endereço: <%= @warehouse.address %> - CEP: <%= @warehouse.cep %></span>
</div>

<%= link_to 'Voltar', root_path %>
